.EleNa {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    background-color: #006ba4;
    color: #ffffff;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}

.margin_right_small {
    margin-right: 5px;
}

.distance_input {
    width: 50px;
    margin-right: 10px;
}

.body {
    flex-grow: 1;
}

.map_container {
    width: 100%;
    height: 100%;
}
